<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Guest List</title>
<style>
    table {
        border : 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        border : 1px solid black;
        border-collapse: collapse;
        width: 100px;
        height: 50px;
        text-align: center;
    }
    th {
        background-color: beige;
    }
</style>
<script>

document.addEventListener('DOMContentLoaded', () => {
	const errorMessage = /*[[${errorMessage}]]*/ '';
    console.log(errorMessage);
    if (errorMessage !== '') {
        alert(errorMessage); // 에러 메시지로 알림 표시
    }
});
const isValid = (button) => {
    const password = document.getElementById('pw').value;
    button.closest('form').querySelector('#inputPassword').value = password;
    button.closest('form').submit();
}
</script>
</head>
<body>
    <h2>Guest List</h2>
    
    
    <div>
    	
    <table>
        <tr>
            <th>Num</th>
            <th>Name</th>
            <th style="width:400px">Message</th>
            <th style="width:200px">Date</th>
            <th>Password</th>
            <th style="width:200px">Delete</th>
        </tr>
        <tr th:each="list : ${guest}">
            <td th:text="${list.Num}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.message}"></td>
            <td th:text="${list.inputdate}"></td>
            <td>
                <input type="password" id="pw" placeholder="비밀번호를 입력해주세요">
            </td>
            <td>
                <form th:action="@{/guest/delete}" method="post">
                    <input type="hidden" name="num" th:value="${list.Num}" />
                    <input type="hidden" name="password" id="inputPassword"/>
                    <button type="button" onClick="isValid(this)">
                        삭제
                    </button>
                </form>
            </td>
        </tr>
    </table>
    </div>
    <button><a th:href="@{/guest/write}">글쓰기</a></button>
        <p th:text="${errorMessage}"></p>
</body>
</html>
