<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<title>Insert title here</title>
</head>
<script>
	$(document).ready(() => {
		$('#memberId').keyup( function() {
			let id = $(this).val();
			if (id.length < 3 || id.length > 10) {
				$('#msg').css('color', 'red');
				$('#msg').html('ID는 3~10자로 입력하세요.');
				$('#submistButton').attr('disabled', true);
				}
			});
			
			$.ajax({
				url: 'idDuplicate',
				type: 'post',
				data: { id: id },
				success: (result) => {
					if (result) {
						$('#msg').css('color', 'red');
						$('#msg').html('이미 사용중인 ID 입니다.');
						$('#submistButton').attr('disabled', true);
					} else
						{
							$('#msg').css('color', 'blud');
							$('#msg').html('사용 가능한 ID 입니다.');
							$('#submistButton').attr('disabled', false);
						}
				}, error: (e) => {
					alert('error', e);
				}
			});	
		});
</script>
<body>
	<h1>[ID 중복 확인]</h1>
	
	<form action="#" method="post">
	id <input type="text" id = "memberId">
	<span id="msg"></span>
	<br>
	이름 <input type="text" name="name">
	<br>
	<button type="submit" id="submitButton" disabled="disabled" >가입</button>
	</form>
</body>
</html>