<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ID 중복 확인</title>

<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>

</script>
</head>
<body>
	<header>
		<h1>[ ID 중복 확인 ]</h1>
	</header>
	
	<section>
		<form id="searchForm" th:action="idCheck" method="post">
			검색할 ID <input type="text" name="searchId" id="searchId">
			<input type="submit" value="검색">
		</form>
	</section>
	
	<!-- 검색 후에만 출력 -->
	<div th:if="${result != null}">
		<!-- 사용 가능한 경우에만 출력 -->
		<div th:if="${result}">
			<p>
				<span th:text="${searchId}"></span>
				<span> : 사용할 수 있는 ID 입니다.</span>
			</p>
		</div>
		<!--  사용 불가능한 경우에만 출력 -->
		<div th:if="${not result}">
			<p>
				<span th:text="${searchId}"></span>
				<span> : 이미 사용중인 ID 입니다.</span>
			</p>
		</div>
	</div>
</body>
</html>