<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ID중복체크</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#memberid').keyup(function() {
				let id = $(this).val();
				
				if (id.length < 3 || id.length > 10) {
					$('#msg').css('color', 'red');
					$('#msg').html('ID는 3~10자로 입력하세요.');
					$('#submitButton').attr('disabled', true);
					return;
				}
				
				$.ajax({
					url: 'idDuplicate',
					method: 'post',
					data: {id: id},
					success: function(result) {
						if (result) {
							$('#msg').css('color', 'red');
							$('#msg').html('이미 사용중인 ID입니다.');
							$('#submitButton').attr('disabled', true);
						} else {
							$('#msg').css('color', 'blue');
							$('#msg').html('사용할 수 있는 ID입니다.');
							$('#submitButton').attr('disabled', false);
						}
					}, error: function(e) {
						alert('error', e);
					}
				});
			});
		});
	</script>
</head>
<body>
	<h1>[ ID 중복체크 ]</h1>
	
	<form action="#" method="post">
		ID <input type="text" id="memberid">
		<span id="msg"></span>					<br>
		이름 <input type="text" id="name">		<br>
		<button type="submit" id="submitButton"
			disabled="disabled">가입</button>
	</form>
</body>
</html>